<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="bg-dark min-vh-100">
      <div class="d-flex justify-content-center">
        <img
          src="assets/logo.png"
          alt="no image"
          style="float: left; width: 50px; height: 50px"
          class="p-0 mt-2 me-2"
        />
        <h3 class="text-primary text text-center mt-3" style="max-width: 200px;">Not Spotify</h3>
      </div>

      <ul class="list-group list-group-flush flex-column text-center">
        <li
          class="list-group-item text-white bg-dark"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </li>
        <li
          class="list-group-item text-white bg-dark"
          routerLink="by-artist"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Search Artist
        </li>
        <li
          class="list-group-item text-white bg-dark"
          routerLink="by-song"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Search Song
        </li>
      </ul>
    </div>
  </div>
</div>
